[user]
	name = Wichayut Phongphanpanya
	email = wichayut.phongphanpanya@agoda.com
[core]
	autocrlf = input

[core]
  pager = delta
	excludesfile = /Users/wphongphanpa/.config/git/.gitignore

  untrackedCache = true
  fsmonitor = true
[interactive]
  diffFilter = delta --color-only

[delta]
  negative = true  # use n and N to move between diff sections
  side-by-side = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
