# ignore everything
/*

# except these directories
!/.config
!/notes
!/.agents
!AGENTS.md
!/.pi
# except these files
!.asdfrc
!.zshrc
!.gitignore
!.gitconfig
!.ideavimrc
!README.md
!Brewfile

# still ignore these
/.config/raycast
/.config/jgit
/.config/karabiner
/.config/gh/hosts.yml
/.config/fish/conf.d/environment.fish
/.config/fish/fish_variables
